

.entrada ,.boton{
    width: 50%;
  padding: 12px 20px;
  box-sizing:border-box;
  margin: 8px 0;
  border: none;
}


#form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   
}

.boton{
    background-color: #156145;
    color:white;
    
}

.boton:hover{
    background-color: #3CBC8D;
}


#btnRecuperarContraseña{
    height: 40px;
    background-color: #156145;
    color:white;
    margin-top:10px;
    border:none;
    outline:none;
 
}
#btnRecuperarContraseña:hover{
background-color: #3CBC8D; }

#btnVolver,#btnContraseñaOlvidada{
    border:none;
    background: none;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
  

 }
    

#btnVolver:hover{
   text-decoration:underline;
}
#btnContraseñaOlvidada:hover{
    text-decoration:underline;
 }



#emailRecuperarContraseña{
    height: 40px;
    border:none;
    margin-top: 10px;
}
#titulo{
    text-align:center;
}

#contenedor{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

#contenedor2{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}